<div class="portfolio">

	<div>Videos</div>


	<video width="400" controls>
	  <source src="./public/img/ebay.mp4" type="video/mp4">
	  Your browser does not support HTML5 video.
	</video>

	<video width="400" controls>
	  <source src="./public/img/Burberry.mp4" type="video/mp4">
	  Your browser does not support HTML5 video.
	</video>

	<video width="400" controls>
	  <source src="./public/img/timp.mp4" type="video/mp4">
	  Your browser does not support HTML5 video.
	</video>

	<video width="400" controls>
	  <source src="./public/img/sap.mp4" type="video/mp4">
	  Your browser does not support HTML5 video.
	</video>

	<div>Personal Projects and Experiments</div>
	<a href="./public/projects/DM/tree/"><div>Data Mining (Association Rules Reader)</div></a>
	<a href="./public/projects/AgileConsultant/"><div>Agile Consultant SVG</div></a>
	<a href="./public/projects/test/"><div>Responsive Test</div></a>
	<a href="./public/projects/SOS/"><div>SOS (Spanish)</div></a>
	<a href="./public/projects/cleverdesigns/"><div>Clever Designs (Carmen Galo)</div></a>
	<a href="./public/projects/binimg/"><div>Image, Binary reader</div></a>
	<a href="./public/projects/games/foodgame/"><div>Food Game</div></a>
	<a href="./public/projects/wandrew/"><div>Birthday Piano App</div></a>
	<a href="./public/projects/prime/"><div>Prime Number Pattern Finder</div></a>
	<a href="./public/projects/socialcomputing/"><div>Social Computing Study Survey App</div></a>
	<a href="./public/projects/pack/index.min.html"><div>SVG Animation 1</div></a>
	<a href="./public/projects/cv"><div>SVG Animation 2</div></a>
	<a href="./public/projects/escueladigital/escueladigital/Unidad%201/leccion1.html"><div>Escuela Digital (Leccion 1 Unidad 1) (Spanish)</div></a>
	<a href="./public/projects/escueladigital/escueladigital/Unidad%201/leccion2.html"><div>Escuela Digital (Leccion 2 Unidad 1) (Spanish)</div></a>
	<a href="./public/projects/escueladigital/escueladigital/Unidad%203/leccion2.html"><div>Escuela Digital (Leccion 2 Unidad 3) (Spanish)</div></a>
	<a href="./public/projects/escueladigital/escueladigital/Unidad%207/leccion1.html"><div>Escuela Digital (Leccion 1 Unidad 7) (Spanish)</div></a>

	

</div>