<div class="portfolio">
	<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <a class="navbar-brand" href="#">Portfolio - Carlos Amílcar Sánchez Rosa</a>
            <div class="collapse navbar-collapse" id="navbarExample">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://kotaro44.github.io">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <h1 class="my-4">Professional Products and Personal Experiments<small></small></h1>

        <div class="row">
        	<div class="col-lg-4 portfolio-item">
                <div class="card h-100">
                    <a href="http://kotaro44.github.io"><img class="card-img-top img-fluid" 
                    src="public/img/resume.png" alt=""></a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="http://kotaro44.github.io">Carlos Online Resume</a></h4>
                        <p class="card-text">A webpage presenting Carlos Amílcar Sánchez Rosa Resume, and links to portafolio, projects and all projects that Carlos had worked on.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 portfolio-item">
                <div class="card h-100">
                    <video  controls>
					  <source src="./public/img/sap.mp4" type="video/mp4">
					  Your browser does not support HTML5 video.
					</video>
                    <div class="card-block">
                        <h4 class="card-title"><a href="https://icn.sap.com/home.html">SAP - Innovation Center Silicon Valley</a></h4>
                        <p class="card-text">SAP is a huge company, and the Innovation Center Silicon Valley was the team with Carlos collaborated for more than 1 year.</p>
                        <p>
                        	<a href="https://www.sap.com/index.html">
                        		<img class="logo" src="public/img/sap.png"></img>
                        	</a>
                        </p>
                    </div>
                </div>
            </div>


			<div class="col-lg-4 portfolio-item">
                <div class="card h-100">
                    <video  controls>
					  <source src="./public/img/ebay.mp4" type="video/mp4">
					  Your browser does not support HTML5 video.
					</video>
                    <div class="card-block">
                        <h4 class="card-title"><a href="https://www.sap.com/about/customer-testimonials/high-tech/ebay.html">SAP - eBay</a></h4>
                        <p class="card-text">A POC developed at SAP Lab's Palo Alto, California USA, Carlos was the lead developer and designer of the app.</p>
                        <p>
                        	<a href="http://www.ebay.com/">
                        		<img class="logo" src="public/img/ebay.png"></img>
                        	</a>
                        	<a href="https://www.sap.com/index.html">
                        		<img class="logo" src="public/img/sap.png"></img>
                        	</a>
                        </p>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 portfolio-item">
                <div class="card h-100">
                    <video  controls>
					  <source src="./public/img/365.mp4" type="video/mp4">
					  Your browser does not support HTML5 video.
					</video>
                    <div class="card-block">
                        <h4 class="card-title"><a href="https://www.sapconsumerinsight365.com/">SAP - Cunsumer Insight 365</a></h4>
                        <p class="card-text">Carlos wroked as Lead Developer of the project Cunsumer Insight 365 for SAP.</p>
                        <p>
                        	<a href="https://www.sapconsumerinsight365.com/">
                        		<img class="logo" src="public/img/sap.png"></img>
                        	</a>
                        </p>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 portfolio-item">
                <div class="card h-100">
                    <video  controls>
					  <source src="./public/img/Burberry.mp4" type="video/mp4">
					  Your browser does not support HTML5 video.
					</video>
                    <div class="card-block">
                        <h4 class="card-title"><a href="http://news.sap.com/burberry-ulta-beauty-mobilize-clienteling/">SAP - Burberry</a></h4>
                        <p class="card-text">One of the first Projects where Carlos was assigned to help as developer at SAP Palo Alto California, this project was presented at SAPPHIRE 2012 in Madrid, Spain. This POC became a mockup for all the following projects at Innovation Center Silicon Valley.</p>
                        <p>
                        	<a href="https://www.burberry.com/">
                        		<img class="logo" src="public/img/burberry.png"></img>
                        	</a>
                        	<a href="https://www.sap.com/index.html">
                        		<img class="logo" src="public/img/sap.png"></img>
                        	</a>
                        </p>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 portfolio-item">
                <div class="card h-100">
                    <video  controls>
					  <source src="./public/img/timp.mp4" type="video/mp4">
					  Your browser does not support HTML5 video.
					</video>
                    <div class="card-block">
                        <h4 class="card-title"><a href="http://alltaxplatform.com/">All TAX Platform</a></h4>
                        <p class="card-text">Agile Solutions biggest Project with more than 10 different Modules, where Carlos was Manager of several of them such as BRB, BFB, BPMA, Calendar etc.</p>
                        <p>
                        	<a href="http://agilesolutions.com/">
                        		<img class="logo" src="public/img/agile.png"></img>
                        	</a>
                        </p>
                    </div>
                </div>
            </div>

            
            <div class="col-lg-4 portfolio-item">
                <div class="card h-100">
                    <a href="./public/projects/DM/tree/"><img class="card-img-top img-fluid" 
                    src="public/img/dm.png" alt=""></a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="./public/projects/DM/tree/">Data Mining Project</a></h4>
                        <p class="card-text">A small Web App that process Association Rules output and presents a deep analysis of the rules with D3 Graphics. This App was developed to fullfil the requirements of the Course "Data Mining" at 國立清華大學 for Carlos Master Degree in Information Systems and Applications</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 portfolio-item">
                <div class="card h-100">
                    <a href="./public/projects/AgileConsultant/agile-consultant.html">
                    <img class="card-img-top img-fluid" src="public/img/agile-tree.png" alt=""></a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="./public/projects/AgileConsultant/agile-consultant.html">Agile Consultant Knowledge Tree</a></h4>
                        <p class="card-text">An SVG Tree that shows all technologies that can be manage by a proffesional consultant or software engineer at Agile Solutions.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 portfolio-item">
                <div class="card h-100">
                    <a href="./public/projects/test/"><img class="card-img-top img-fluid" 
                    src="public/img/resp.png" alt=></a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="./public/projects/test/">JS Responsive Test</a></h4>
                        <p class="card-text">A simple Javascript Animation Test with responsive behavior. Used in Agile Solutions for Interview Tests</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 portfolio-item">
                <div class="card h-100">
                    <a href="./public/projects/SOS/"><img class="card-img-top img-fluid" src="public/img/sos.png" alt=""></a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="./public/projects/SOS/">SOS (Spanish)</a></h4>
                        <p class="card-text">A Basic SOS web Game, experimenting with Drag & Drop</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 portfolio-item">
                <div class="card h-100">
                    <a href="./public/projects/cleverdesigns/"><img class="card-img-top img-fluid" src="public/img/clever.png" alt=""></a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="./public/projects/cleverdesigns/">Clever designs</a></h4>
                        <p class="card-text">A basic webpage showing the art from Designer Carmen Lagos</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 portfolio-item">
                <div class="card h-100">
                    <a href="./public/projects/binimg/"><img class="card-img-top img-fluid" src="public/img/binimg.png" alt=""></a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="./public/projects/binimg/">IMG to Binary Visualization</a></h4>
                        <p class="card-text">A basic webpage that reads any file and try to conert it as image to find patterns on the HEX code.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 portfolio-item">
                <div class="card h-100">
                    <a href="./public/projects/games/foodgame/"><img class="card-img-top img-fluid" src="public/img/food.png" alt=""></a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="./public/projects/games/foodgame/"">Food Game</a></h4>
                        <p class="card-text">A basic Game sample developed by an HTML5 Game Engine developed by Carlos, the GAme Engine Supports the use of joystick, mouse or Keyboard as inputs for any game.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 portfolio-item">
                <div class="card h-100">
                    <a href="./public/projects/wandrew/"><img class="card-img-top img-fluid" src="public/img/wandrew.png" alt=""></a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="./public/projects/wandrew/">Birthday Piano App</a></h4>
                        <p class="card-text">A basic webpage as a Small Gift for Carlos Girlfriend who is a Musician.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 portfolio-item">
                <div class="card h-100">
                    <a href="./public/projects/prime/"><img class="card-img-top img-fluid" src="public/img/prime.png" alt=""></a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="./public/projects/prime/">Prime Number Pattern Finder</a></h4>
                        <p class="card-text">A basic webpage that offers tools for finding patterns in Prime Numbers./p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 portfolio-item">
                <div class="card h-100">
                    <a href="./public/projects/socialcomputing/"><img class="card-img-top img-fluid" src="public/img/social.png" alt=""></a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="./public/projects/socialcomputing/">Social Computing Survey</a></h4>
                        <p class="card-text">A Survey Experiment built as a Web App to fullfil the requirements of the Course "Social Computing" at 國立清華大學 for Carlos Master Degree in Information Systems and Applications</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 portfolio-item">
                <div class="card h-100">
                    <a href="./public/projects/pack/index.min.html"><img class="card-img-top img-fluid" src="public/img/svg1.png" alt=""></a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="./public/projects/pack/index.min.html">SVG Animation</a></h4>
                        <p class="card-text">A Cool SVG Animation made for AGILE app's Background</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 portfolio-item">
                <div class="card h-100">
                    <a href="./public/projects/cv"><img class="card-img-top img-fluid" src="public/img/svg2.png" alt=""></a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="./public/projects/cv">SVG Animation #2</a></h4>
                        <p class="card-text">A Cool SVG Animation made for more Interactive Resume made by Carlos.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 portfolio-item">
                <div class="card h-100">
                    <a href="./public/projects/escueladigital/escueladigital/Unidad%201/leccion1.html"><img class="card-img-top img-fluid" src="./public/img/lec1un1.png" alt=""></a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="./public/projects/escueladigital/escueladigital/Unidad%201/leccion1.html">Escuela Digital (Lec. 1, Un. 1)</a></h4>
                        <p class="card-text">A Lesson from the App "Escuela Digital" presented for Carlos Bachelor Thesis.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 portfolio-item">
                <div class="card h-100">
                    <a href="./public/projects/escueladigital/escueladigital/Unidad%201/leccion2.html"><img class="card-img-top img-fluid" src="./public/img/lec2un1.png" alt=""></a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="./public/projects/escueladigital/escueladigital/Unidad%201/leccion2.html">Escuela Digital (Lec. 2, Un. 1)</a></h4>
                        <p class="card-text">A Lesson from the App "Escuela Digital" presented for Carlos Bachelor Thesis.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 portfolio-item">
                <div class="card h-100">
                    <a href="./public/projects/escueladigital/escueladigital/Unidad%201/leccion3.html"><img class="card-img-top img-fluid" src="./public/img/lec3un1.png" alt=""></a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="./public/projects/escueladigital/escueladigital/Unidad%201/leccion3.html">Escuela Digital (Lec. 3, Un. 1)</a></h4>
                        <p class="card-text">A Lesson from the App "Escuela Digital" presented for Carlos Bachelor Thesis.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 portfolio-item">
                <div class="card h-100">
                    <a href="./public/projects/escueladigital/escueladigital/Unidad%201/leccion4.html"><img class="card-img-top img-fluid" src="./public/img/lec4un1.png" alt=""></a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="./public/projects/escueladigital/escueladigital/Unidad%201/leccion4.html">Escuela Digital (Lec. 4, Un. 1)</a></h4>
                        <p class="card-text">A Lesson from the App "Escuela Digital" presented for Carlos Bachelor Thesis.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 portfolio-item">
                <div class="card h-100">
                    <a href="./public/projects/escueladigital/escueladigital/Unidad%201/leccion5.html"><img class="card-img-top img-fluid" src="./public/img/lec5un1.png" alt=""></a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="./public/projects/escueladigital/escueladigital/Unidad%201/leccion5.html">Escuela Digital (Lec. 5, Un. 1)</a></h4>
                        <p class="card-text">A Lesson from the App "Escuela Digital" presented for Carlos Bachelor Thesis.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 portfolio-item">
                <div class="card h-100">
                    <a href="./public/projects/escueladigital/escueladigital/Unidad%202/leccion1.html"><img class="card-img-top img-fluid" src="./public/img/lec1un2.png" alt=""></a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="./public/projects/escueladigital/escueladigital/Unidad%202/leccion1.html">Escuela Digital (Lec. 1, Un. 2)</a></h4>
                        <p class="card-text">A Lesson from the App "Escuela Digital" presented for Carlos Bachelor Thesis.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 portfolio-item">
                <div class="card h-100">
                    <a href="./public/projects/escueladigital/escueladigital/Unidad%203/leccion2.html"><img class="card-img-top img-fluid" src="./public/img/lec1un3.png" alt=""></a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="./public/projects/escueladigital/escueladigital/Unidad%203/leccion2.html">Escuela Digital (Lec. 2, Un. 3)</a></h4>
                        <p class="card-text">A Lesson from the App "Escuela Digital" presented for Carlos Bachelor Thesis.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 portfolio-item">
                <div class="card h-100">
                    <a href="./public/projects/escueladigital/escueladigital/Unidad%204/leccion1.html"><img class="card-img-top img-fluid" src="./public/img/lec1un4.png" alt=""></a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="./public/projects/escueladigital/escueladigital/Unidad%204/leccion1.html">Escuela Digital (Lec. 1, Un. 4)</a></h4>
                        <p class="card-text">A Lesson from the App "Escuela Digital" presented for Carlos Bachelor Thesis.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 portfolio-item">
                <div class="card h-100">
                    <a href="./public/projects/escueladigital/escueladigital/Unidad%206/leccion1.html"><img class="card-img-top img-fluid" src="./public/img/lec1un6.png" alt=""></a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="./public/projects/escueladigital/escueladigital/Unidad%206/leccion1.html">Escuela Digital (Lec. 1, Un. 6)</a></h4>
                        <p class="card-text">A Lesson from the App "Escuela Digital" presented for Carlos Bachelor Thesis.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 portfolio-item">
                <div class="card h-100">
                    <a href="./public/projects/escueladigital/escueladigital/Unidad%207/leccion1.html"><img class="card-img-top img-fluid" src="./public/img/lec1un7.png" alt=""></a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="./public/projects/escueladigital/escueladigital/Unidad%207/leccion1.html">Escuela Digital (Lec. 1, Un. 7)</a></h4>
                        <p class="card-text">A Lesson from the App "Escuela Digital" presented for Carlos Bachelor Thesis.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 portfolio-item">
                <div class="card h-100">
                    <a href="./public/projects/escueladigital/escueladigital/Unidad%208/leccion1.html"><img class="card-img-top img-fluid" src="./public/img/lec1un8.png" alt=""></a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="./public/projects/escueladigital/escueladigital/Unidad%208/leccion1.html">Escuela Digital (Lec. 1, Un. 8)</a></h4>
                        <p class="card-text">A Lesson from the App "Escuela Digital" presented for Carlos Bachelor Thesis.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 portfolio-item">
                <div class="card h-100">
                    <a href="https://www.linkedin.com/in/carlos-amilcar-sanchez-rosa-0aa88b122"><img class="card-img-top img-fluid" src="./public/img/linkedin.png" alt=""></a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="https://www.linkedin.com/in/carlos-amilcar-sanchez-rosa-0aa88b122">Found Carlos on LinkedIn</a></h4>
                        <p class="card-text">Carlos Personal LinkedIn Profile.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 portfolio-item">
                <div class="card h-100">
                    <a href="https://www.facebook.com/kotaro.san"><img class="card-img-top img-fluid" src="./public/img/fb.png" alt=""></a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="https://www.facebook.com/kotaro.san">Found Carlos on Facebook</a></h4>
                        <p class="card-text">Carlos Personal Facebook.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 portfolio-item">
                <div class="card h-100">
                    <a href="https://www.facebook.com/groups/2016nthuecho/"><img class="card-img-top img-fluid" src="./public/img/num2.png" alt=""></a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="https://www.facebook.com/groups/2016nthuecho/">Numero Dos</a></h4>
                        <p class="card-text">Carlos Play the Bass-Guitar in NTHU Band "Numero Dos".</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 portfolio-item">
                <div class="card h-100">
                    <img class="card-img-top img-fluid" src="./public/img/map.png" alt=""></a>
                    <div class="card-block">
                        <h4 class="card-title">All Around The World</h4>
                        <p class="card-text">Carlos traveled, work and live in several countries such as USA, Honduras, Nicaragua, Guatemala, El Salvador, Taiwan, Japan, Brazil, Chile, Cambodia and Thailand.</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

 

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-inverse">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Carlos Amílcar Sánchez Rosa 2017</p>
        </div>
        <!-- /.container -->
    </footer>
</div>