/* app css stylesheet */
html , html body {
 	margin: 0;
	font-size: 16px;
	min-height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
}

html body {
	height: 100%;
	width: 100%;
	background-color: white;
	overflow:hidden;
}

.carlos-logo {
	color: #E79C69!important;	
}

.card {
	border: 1px solid #A5A5A5;
}

.background {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../../img/back.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.2;
}

.logo {
	margin: 0px 5px 0px 5px;
	width: 80px;
	height: auto;
	cursor: pointer;
}

.logos {
	text-align: center;
}

.debug-console {
	position: absolute;
	top: 0;
	width: 400px;
	height: auto;
	padding: 10px;
	background-color: rgba(0,0,0,0.5);
	color: white;
}

.navbar-toggler {
    z-index: 1;
}

@media (max-width: 576px) {
    nav > .container {
        width: 100%;
    }
}

/* Tablets*/
@media (max-width: 950px) {
	
}

/*Mobile Portrait*/
@media (max-width: 768px){
	
}

/*Mobile Landscape*/
@media (max-height: 400px) {

}

