<section id="requirements" class="content-section text-center">
    <div class="download-section" country="{{front_page.Data.destiny_country}}">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Visa requirements from {{front_page.Data.origin_country || "Origin Country"}} to {{front_page.Data.destiny_country|| "Destiny Country"}}:</h2>
                <p>{{requirements.text}}</p>
            </div>
        </div>
        <a href="#page-top" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-up animated"></i>
        </a>
    </div>
</section>