<section id="travel" class="container content-section text-center">
    <div class="row">
        <div ng-show="front_page.origin_selected" class="col-lg-8 col-lg-offset-2">
            <h2>Where do you want to go?</h2>
            <p class="intro-text">
                <select class="selectpicker dark-select" ng-model="travel.country_value">
                    <option ng-repeat="country in travel.countries track by $index">
                        {{country}}
                    </option>
                </select>
                <p>With a Passport from: {{front_page.Data.origin_country}}</p>
            </p>
            <a href="#requirements" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
        <div ng-show="!front_page.origin_selected">
            <h2>Please select an Origin country!</h2>
            <a href="#page-top" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-up animated"></i>
            </a>
        </div>
    </div>
</section>