<div class="wandrew">
	<div class="background"></div>
	<keyboard></keyboard>
	<div class="card">
		Happy Drummer's Day!!!
		<div class="inner">
			I mean... Happy Birthday :)
		</div>
		<div class="inner-1">
			Hope you will have the happiest of your birthdays, I really wish you the best of the best!
		</div>
		<div class="inner-2">
			P.s I used a Piano because I don't know Happy Bday song in Drums JaJa!
		</div>
	</div>
	<div class="phone-warn">Sorry you can't see this in your phone, use your computer please :3</div>
</div>