<div class="keyboard">
	<div class="keys">
		<div class="key C3" note="36" >
			<div class="arrow"></div>
		</div>
		<div class="key D3" note="38" >
			<div class="arrow"></div>
		</div>
		<div class="key E3" note="40" >
			<div class="arrow"></div>
		</div>
		<div class="key F3" note="41" >
			<div class="arrow"></div>
		</div>
		<div class="key G3" note="43" >
			<div class="arrow"></div>
		</div>
		<div class="key A3" note="45" >
			<div class="arrow"></div>
		</div>
		<div class="key B3" note="47" >
			<div class="arrow"></div>
		</div>
		<div class="key C4" note="48" >
			<div class="arrow"></div>
		</div>
		<div class="key D4" note="50" >
			<div class="arrow"></div>
		</div>
		<div class="key E4" note="52" >
			<div class="arrow"></div>
		</div>
		<div class="key F4" note="53" >
			<div class="arrow"></div>
		</div>
		<div class="key G4" note="55" >
			<div class="arrow"></div>
		</div>
		<div class="key A4" note="57" >
			<div class="arrow"></div>
		</div>
		<div class="key B4" note="59" >
			<div class="arrow"></div>
		</div>
		<div class="key C5" note="60" >
			<div class="arrow"></div>
		</div>
		<div class="key D5" note="62" >
			<div class="arrow"></div>
		</div>
		<div class="key E5" note="64" >
			<div class="arrow"></div>
		</div>
		<div class="key F5" note="65" >
			<div class="arrow"></div>
		</div>
		<div class="key G5" note="67" >
			<div class="arrow"></div>
		</div>
		<div class="key A5" note="69" >
			<div class="arrow"></div>
		</div>
		<div class="key B5" note="71" >
			<div class="arrow"></div>
		</div>
	</div>

	<div class="sharps">
		<div class="sharp C#3" note="37" >
			<div class="arrow"></div>
		</div>
		<div class="sharp D#3" note="39" >
			<div class="arrow"></div>
		</div>
		<div class="sharp E#3 sharp-hidden" note="" >
			<div class="arrow"></div>
		</div>
		<div class="sharp F#3" note="42" >
			<div class="arrow"></div>
		</div>
		<div class="sharp G#3" note="44" >
			<div class="arrow"></div>
		</div>
		<div class="sharp A#3" note="46" >
			<div class="arrow"></div>
		</div>
		<div class="sharp B#3 sharp-hidden" note="" >
			<div class="arrow"></div>
		</div>
		<div class="sharp C#4" note="49" >
			<div class="arrow"></div>
		</div>
		<div class="sharp D#4" note="51" >
			<div class="arrow"></div>
		</div>
		<div class="sharp E#4 sharp-hidden" note="" >
			<div class="arrow"></div>
		</div>
		<div class="sharp F#4" note="54" >
			<div class="arrow"></div>
		</div>
		<div class="sharp G#4" note="56" >
			<div class="arrow"></div>
		</div>
		<div class="sharp A#4" note="58" >
			<div class="arrow"></div>
		</div>
		<div class="sharp B#4 sharp-hidden" note="" >
			<div class="arrow"></div>
		</div>
		<div class="sharp C#5" note="61" >
			<div class="arrow"></div>
		</div>
		<div class="sharp D#5" note="63" >
			<div class="arrow"></div>
		</div>
		<div class="sharp E#5 sharp-hidden" note="" >
			<div class="arrow"></div>
		</div>
		<div class="sharp F#5" note="66" >
			<div class="arrow"></div>
		</div>
		<div class="sharp G#5" note="68" >
			<div class="arrow"></div>
		</div>
		<div class="sharp A#5" note="70" >
			<div class="arrow"></div>
		</div>
		<div class="sharp B#5 sharp-hidden" note="" >
			<div class="arrow"></div>
		</div>
	</div>
</div>