<section  id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">

                <h2 class="section-heading">{{"Graduated from: "|i18n}} </br> 
                    <b>UNITEC (Honduras Tegucigalpa)</b> & </br>
                     <b>National Tsing Hua University<br /> 
                     (國立清華大學, Taiwan)</b></h2>
                <hr class="light">
                <p class="text-faded">Currently living in Taiwan</b></p>
                <p>
                    <img width="100" src="public/img/taiwan.png">
                </p>


                <br />
                <p class="text-faded">{{"Got experience in WebApp's Development and Software..."|i18n}}</p>
                <p>
                    <a event="intowow" href="http://intowow.com/"><img class="company-logo" src="public/img/intowow.png"></a>
                    <a event="sap" href="https://www.sap.com/index.html"><img class="company-logo" src="public/img/sap.png"></a>
                    <a event="agile" href="http://intowow.com/"><img class="company-logo" src="public/img/agile.png"></a>
                </p>
                <br />
                <p class="text-faded">Able to speak <b>Spanish</b>, <b>Italian</b>, <b>Portuguese</b>, <b>Mandarin</b> & <b>English</b></p>
                <p>
                    <img class="language-flag" src="public/img/spain.png">
                    <img class="language-flag" src="public/img/brazil.png">
                    <img class="language-flag" src="public/img/italy.png">
                    <img class="language-flag" src="public/img/china.png">
                    <img class="language-flag" src="public/img/uk.png">
                </p>
            </div>
        </div>
    </div>
</section>
