<section  id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{"Graduated from: "|i18n}} 
                </br>
                </br> 
                    <b>UNITEC (Honduras)</b> & </br>
                     <b>National Tsing Hua University<br /> 
                     (國立清華大學, Taiwan)</b></h2>
                <hr class="light">
                <p class="text-faded">Currently living in Taipei, Taiwan</b></p>
                <p>
                    <a href="https://www.google.com/maps/place/%E5%8F%B0%E7%81%A3/@23.4212975,115.5890508,6z/data=!3m1!4b1!4m5!3m4!1s0x346ef3065c07572f:0xe711f004bf9c5469!8m2!3d23.69781!4d120.960515"><img width="100" src="public/img/taiwan.png"></a>
                </p>
                <br />
                <p class="text-faded">Experience in WebApp's Development and Software Engineering since 2008, worked at <br/> <b>Agile Solutions</b>, <b>SAP Innovation Center Silicon Valley</b> & <b>Intowow</b></p>
                <p>
                    <a event="intowow" href="http://intowow.com/"><img class="company-logo" src="public/img/intowow.png"></a>
                    <a event="sap" href="https://www.sap.com/index.html"><img class="company-logo" src="public/img/sap.png"></a>
                    <a event="agile" href="http://intowow.com/"><img class="company-logo" src="public/img/3.png"></a>
                </p>
                <br />
                <p class="text-faded">Able to speak <b>Spanish</b>, <b>Italian</b>, <b>Portuguese</b>, <b>Mandarin</b> & <b>English</b></p>
                <p>
                    <a href="https://en.wikipedia.org/wiki/Spanish_language"><img class="language-flag" src="public/img/spain.png"></a>
                    <a href="https://en.wikipedia.org/wiki/Portuguese_language"><img class="language-flag" src="public/img/brazil.png"></a>
                    <a href="https://en.wikipedia.org/wiki/Italian_language"><img class="language-flag" src="public/img/italy.png"></a>
                    <a href="https://en.wikipedia.org/wiki/Chinese_language"><img class="language-flag" src="public/img/china.png"></a>
                    <a href="https://en.wikipedia.org/wiki/English_language"><img class="language-flag" src="public/img/uk.png"></a>
                </p>
                <br />
                <br />
                <p>
                    <a event="check_his_work" href="#portfolio" class="btn btn-primary btn-xl page-scroll">Check his Work!</a>
                </p>
            </div>

        </div>
    </div>
</section>
