<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{"Graduated from: "|i18n}}</br> <b>UNITEC (Honduras Tegucigalpa)</b> & </br> <b>National Tsing Hua University (國立清華大學, Taiwan)</b></h2>
                <hr class="light">
                <p class="text-faded">{{"Got experience in WebApp's Development and Software..."|i18n}}</p>
                <a id="check_his_work" href="#portfolio" class="page-scroll btn btn-default btn-xl sr-button">{{"Check his work!"|i18n}}</a>
            </div>
        </div>
    </div>
</section>
