<header>
    <div class="header-content">
        <div class="header-content-inner">
        	<div class="profile-pic"></div>
            <h1 id="homeHeading">Carlos A. Sánchez Rosa</br></h1>
            <p>{{"Computer Systems Engineer, Software Engineer & Web Developer..."|i18n}}</p>
            <hr class="primary">
            <p>{{"Software Engineer at"|i18n}}<a href="http://intowow.com/"><img class="intowow-logo" src="public/img/intowow.png"></a></p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">{{"Find Out More"|i18n}}</a>
        </div>
    </div>
</header>
