<header>
    <section id="home">
        <div class="header-content">
            <div class="header-content-inner">
            	<div class="profile-pic"></div>
                <h2 id="homeHeading">Hi There! this is <b class="text-anim-letter">Carlos A. Sánchez Rosa</b></h2></br>
                <p text-anim="{{'Im a Computer systems engineer...'|i18n}}"></p>
                <hr class="primary">
                <p>{{"Currently working at"|i18n}}:<a event="intowow" href="http://intowow.com/"><img class="intowow-logo" src="public/img/intowow.png"></a></p>
                <a event="find_out_more" href="#about" class="btn btn-primary btn-xl page-scroll">{{"Find Out More"|i18n}}</a>
            </div>
        </div>
    </section>
</header>
