<div class="cvsimple">
	<a href="./portfolio">
	<div class="portfolio">
		<span>Portfolio</span>
	</div>
	</a>
	<div class="social-networks"></div>
	<a href="./CarlosSanchez-CV.pdf"><div class="download-pdf">
	</div></a>
	<a href="https://tw.linkedin.com/in/carlos-amilcar-sanchez-rosa-0aa88b122"><div class="linkedin">
	</div></a>

	<div class="back">
		<div class="side1"></div>
		<div class="side2"></div>
	</div>

	<DIV id="page_1">
	    <DIV id="p1dimg1">
	        <IMG src="public/img/pic.jpg" width="100%" class="pro-pic">
	    </DIV>
		<DIV id="p1dimg1xx">
	        <IMG src="public/img/icons.png" width="100%" class="pro-pic">
	    </DIV>

	    
	    <DIV id="p1dimg1x">
			<IMG src="public/img/line.jpg" width="470px" alt="">
		</DIV>
		<DIV id="p1dimg1x2">
			<IMG src="public/img/line.jpg" width="470px" alt="">
		</DIV>

	    <DIV class="dclr"></DIV>
	    <DIV class="content">
	        <DIV id="id_1">
	            <P class="p0 ft0">PERSONAL INFORMATION</P>
	            <P class="p1 ft1">WORK EXPERIENCE</P>
	            <P class="p2x ft0">Oct 2013 – Jul 2015</P>
	            <P class="p2 ft0">Jan 2009 – Sep 2013</P>
	            <P class="p3 ft0">PROJECTS AND JOB DETAILS</P>
	            <P class="p4 ft0">Jan 2015 – Jul 2015</P>
	            <P class="p5 ft0">Nov 2014 – Jan 2015</P>
	            <P class="p6 ft0">Feb 2014 – Nov 2014</P>
	            <P class="p7 ft0">Oct 2012 – Sep 2013</P>
	            <P class="p8 ft0">Jun 2011 – Mar 2012</P>
	            <P class="p9 ft0">Jan 2010 & Mar 2012</P>
	            <P class="p10 ft0">Mar 2011 & Dec 2011</P>
	            <P class="p11 ft0">Jun 2010 – Dec 2011</P>
	            <P class="p12 ft0">Jan 2009 – Jun 2012</P>
	        </DIV>
	        <DIV id="id_2">
	            <P class="p13 ft2">Carlos Amílcar Sánchez Rosa</P>
	            <P class="p14 ft3">No. 101, Section 2, GuangFu Rd., East District, Hsinchu City, 30013</P>
	            <P class="p15 ft4">(+886)
	                <NOBR>0903-721-510</NOBR>
	            </P>
	            <P class="p15 ft5">(+504)
	                <NOBR>2226-8169,</NOBR> (+504)
	                <NOBR>2226-7522</NOBR>
	            </P>
	            <P class="p16 ft6">
	                <a href="mailto:csanchezrhn@gmail.com">csanchezrhn@gmail.com</a>
	            </P>
	            <P class="p16 ft6">
	                <a href="http://kotaro44.github.io/">http://kotaro44.github.io/</a>
	            </P>
	            <P class="p15 ft7">
	                <SPAN class="ft0">Gender </SPAN>Male |
	                <SPAN class="ft0">Date of birth </SPAN>07/04/1991 (25 years old) |
	                <SPAN class="ft0">Nationality </SPAN>Honduran</P>
	            <a href="http://agilesolutions.com/"><div class="agile-solution job-link-2">
	            <P class="p17 ft8">Software Engineer & Technology Projects Consultant</P>
	            
	            <P class="p18 ft9">AGILE Solutions ltd., Col. San Carlos, Parque Comercial Los Proceres, Torre Lafise
	                <NOBR>Piso#10-2,</NOBR> Tegucigalpa, Honduras</P>
	                </div></a>

	            <a href="http://www.unitec.edu/"><div class="unitec job-link-2">
	            <P class="p19 ft8">University Department Assistant</P>
	            <P class="p20 ft9">UNITEC, Campus Tegucigalpa, Honduras</P>
				</div></a>

				<a href="http://www.unitec.edu/becas/becas-agile/"><div class="agile-unitec job-link">
	            <P class="p21 ft8">Management Assistant of Agile Solutions & University Scholarship’s Project</P>
	            <P class="p13 ft10">UNITEC, Calle hacia Armenta Campus San Pedro Sula, San Pedro Sula Honduras</P>
	            <P class="p22 ft9">
	                <SPAN class="ft9">▪</SPAN>
	                <SPAN class="ft11">Office Management Assistance</SPAN>
	            </P>
	            <P class="p22 ft9">
	                <SPAN class="ft9">▪</SPAN>
	                <SPAN class="ft11">Trainer of computer science for students with Academic Excellence</SPAN>
	            </P>
	            </div></a>



				<a href="http://alltaxplatform.com/"><div class="alltax-chile job-link">
	            <P class="p16 ft8">Alltax Outsourcing, Component Leader</P>
	            <P class="p23 ft9">Agile Solutions ltd., Apoquindo 3650, Las Condes, Region Metropolitina Santiago, Chile</P>
	            <P class="p24 ft12">
	                <SPAN class="ft12">▪</SPAN>
	                <SPAN class="ft13">Component Manager, Organizer, Planning and Presentation</SPAN>
	            </P>
	            <P class="p22 ft9">
	                <SPAN class="ft9">▪</SPAN>
	                <SPAN class="ft11">Lead Developer of product & architecture designer</SPAN>
	            </P>
	            </div></a>


	            <a href="http://alltaxplatform.com/"><div class="alltax-brazil job-link">
	            <P class="p15 ft8">Agile Solutions, Alltax Outsourcing, Core Lead Developper</P>
	            <P class="p13 ft12">Agile Solutions ltd, Ave. Luís Carlos Prestes, Barra da Tijuca, Rio de Janeiro, Brazil</P>
	            <P class="p22 ft12">
	                <SPAN class="ft14">▪</SPAN>
	                <SPAN class="ft13">Component Manager and Organizer</SPAN>
	            </P>
	            <P class="p22 ft9">
	                <SPAN class="ft9">▪</SPAN>
	                <SPAN class="ft11">Lead Developer of product & Front End Architecture</SPAN>
	            </P>
	            </div></a>

	            <a href="https://icn.sap.com/home.html"><div class="sap job-link">
	            <P class="p15 ft8">SAP Labs Outsourcing, Web Developer</P>
	            <P class="p13 ft12">SAP Labs, 3410 Hillview Ave, Palo Alto, CA 94034, USA</P>
	            <P class="p22 ft12">
	                <SPAN class="ft12">▪</SPAN>
	                <SPAN class="ft13">UX Designer & Lead Developer of product</SPAN>
	            </P>
	            <P class="p22 ft9">
	                <SPAN class="ft9">▪</SPAN>
	                <SPAN class="ft11">Several projects for companies such as: eBay, </SPAN>
	                <NOBR>Daimler-Benz,</NOBR> Fujitsu, Nissan, etc.</P>
	            </div></a>

	            <a href="http://www.unitec.edu/"><div class="unitec-hn job-link">
	            <P class="p16 ft8">Manager of Network Laboratory</P>
	            <P class="p13 ft12">UNITEC, Campus Tegucigalpa, Honduras</P>
	            <P class="p22 ft9">
	                <SPAN class="ft14">▪</SPAN>
	                <SPAN class="ft11">Instructor Network Laboratory</SPAN>
	            </P>
	            </div></a>

	            <a href="http://www.unitec.edu/"><div class="unitec-hn job-link">
	            <P class="p15 ft8">Workshop Instructor “How to Develop videogames”</P>
	            <P class="p13 ft9">UNITEC, Campus Tegucigalpa, Honduras</P>
	            </div></a>

	            <a href="http://www.squadventure.com/"><div class="squadventure job-link">
	            <P class="p15 ft8">Creator and Developer of videogames for Android</P>
	            <P class="p13 ft9">Squadventure LLC, Tegucigalpa, Honduras</P>
	            </div></a>

	            <a href="http://www.unitec.edu/"><div class="unitec-hn job-link">
	            <P class="p15 ft8">Programming III Laboratory Instructor</P>
	            <P class="p13 ft9">UNITEC, Campus Tegucigalpa, Honduras</P>
	            </div></a>

	            <a href="http://www.unitec.edu/"><div class="unitec-hn job-link">
	            <P class="p15 ft8">Tutor of Programming I, II , III , IV & Data Structure</P>
	            <P class="p13 ft12">UNITEC, Campus Tegucigalpa, Honduras</P>
	            <P class="p22 ft9">
	                <SPAN class="ft9">▪</SPAN>
	                <SPAN class="ft11">Student helper on their studies</SPAN>
	            </P>
	            </div></a>

	    
	        </DIV>
	    </DIV>
	</DIV>
	<!-- #include virtual="/convert-pdf-to-html/includes/pdf-to-word-body-tag-between-content.htm" -->
	<DIV id="page_2">


	    <DIV id="p1dimg1x3">
			<IMG src="public/img/line.jpg" width="470px" alt="">
		</DIV>
		<DIV id="p1dimg1x4">
			<IMG src="public/img/line.jpg" width="470px" alt="">
		</DIV>

	    <DIV id="id_1">
            <P class="p26 ft1">EDUCATION AND TRAINING</P>
            <P class="p26 ft1">2015 - 2017</P>
            <P class="p29 ft0">2008 - 2012</P>
	        <P class="p30 ft0">1997 - 2008</P>
	        <P class="p31 ft0">PERSONAL SKILLS</P>
	        <P class="p33 ft0">Programming Languages</P>
            <P class="p34 ft0">Communication skills</P>
            <P class="p35 ft19">Organizational / managerial skills</P>
            <P class="p36 ft0">Computer skills</P>
            <P class="p37 ft0">Other skills</P>
	    </DIV>
	    <DIV id="id_2">
	    	<a href="http://nthu-en.web.nthu.edu.tw/bin/home.php"><div class="nthu ed-link">
	        <P class="p20 ft8">Master in Information Systems and Applications (Graduation on July 2017)</P>
            <P class="p20 ft9">
                <SPAN class="ft16">國立清華大學 </SPAN>National Tsing Hua University (NTHU), Hsinchu city, Taiwan</P>
            <P class="p28 ft12">
                <SPAN class="ft14">▪</SPAN>
                <SPAN class="ft13">Scholarship sponsored by Taiwanese government R.O.C.</SPAN>
            </P>
            <P class="p28 ft9">
                <SPAN class="ft9">▪</SPAN>
                <SPAN class="ft11">Data Science & Data mining Techniques</SPAN>
            </P>
            </div></a>

            <a href="http://www.unitec.edu/"><div class="unitec-hn-ed ed-link">
            <P class="p20 ft8">Bachelor of Science, Computer Systems Engineer (Cum Laude)</P>
            <P class="p20 ft12">UNITEC, Campus Tegucigalpa, Honduras</P>
            <P class="p28 ft10">
                <SPAN class="ft17">▪</SPAN>
                <SPAN class="ft18">Web Development, Database analysis & management</SPAN>
            </P>
            <P class="p28 ft9">
                <SPAN class="ft9">▪</SPAN>
                <SPAN class="ft11">Computer System Project Management & Computer Science</SPAN>
            </P>
            </div></a>

            <a href="http://www.intercontinentalschool.edu.hn/"><div class="intercontinental ed-link">
            <P class="p32 ft8">Bachelor of Science and Letters</P>
            <P class="p20 ft12">Intercontinental School, Tegucigalpa Honduras</P>
            <P class="p28 ft9">
                <SPAN class="ft14">▪</SPAN>
                <SPAN class="ft11">High School Studies in Math, Economy, chemistry and Physics</SPAN>
            </P>
            </div></a>

            <P class="p20x ft9">
	                <SPAN class="ft14">▪</SPAN>
	                <SPAN class="ft20">C/C++, JAVA, C#, JavaScript, HTML , CSS , Visual Basic and Haskell</SPAN>
	            </P>
	            <P class="p38 ft12">
	                <SPAN class="ft14">▪</SPAN>
	                <SPAN class="ft21">Good presenter skills gained through my experience presenting products to customers in Agile Solutions, SAP Labs Palo Alto</SPAN>
	            </P>
	            <P class="p39 ft9">
	                <SPAN class="ft14">▪</SPAN>
	                <SPAN class="ft20">good communication working as a teacher and tutor of several courses in the university.</SPAN>
	            </P>
	            <P class="p40 ft12">
	                <SPAN class="ft14">▪</SPAN>
	                <SPAN class="ft21">Good leaderships skills, gained experience during my job as Lead Developer in SAP Palo Alto and Agile Solutions</SPAN>
	            </P>
	            <P class="p41 ft9">
	                <SPAN class="ft9">▪</SPAN>
	                <SPAN class="ft20">Good organizational skills, experience being a Component Leader in Agile Solutions</SPAN>
	            </P>
	            <P class="p42 ft10">
	                <SPAN class="ft10">▪</SPAN>
	                <SPAN class="ft22">Good skills using Office Software such as Microsoft Office, OpenOffice, Google Docs, and Adobe Graphics Suite</SPAN>
	            </P>
	            <P class="p43 ft9">
	                <SPAN class="ft9">▪</SPAN>
	                <SPAN class="ft20">Skill of using several Operative Systems such as Windows, IOS , Linux and BackTrack</SPAN>
	            </P>
	            <P class="p44 ft12">
	                <SPAN class="ft12">▪</SPAN>
	                <SPAN class="ft21">Musician Skills playing several instruments such as Violin, Bass Guitar and Guitar</SPAN>
	            </P>
	            <P class="p45 ft9">
	                <SPAN class="ft9">▪</SPAN>
	                <SPAN class="ft20">Teaching skill, natural ability for explaining ideas to others, gained Experience being a Teacher/Tutor of several courses in the university.</SPAN>
	            </P>
	    </DIV>
	    
	    <DIV id="id_4">
	        <TABLE cellpadding=0 cellspacing=0 class="t0">
	            <TR>
	                <TD colspan=2 class="tr0 td0">
	                    <P class="p46 ft0">Other language(s)</P>
	                </TD>
	                <TD colspan=3 class="tr1 td1">
	                    <P class="p47 ft23">UNDERSTANDING</P>
	                </TD>
	                <TD class="tr1 td2">
	                    <P class="p46 ft24">&nbsp;</P>
	                </TD>
	                <TD colspan=2 class="tr1 td3">
	                    <P class="p48 ft23">SPEAKING</P>
	                </TD>
	                <TD class="tr1 td4">
	                    <P class="p49 ft23">WRITING</P>
	                </TD>
	            </TR>
	            <TR>
	                <TD class="tr2 td5">
	                    <P class="p46 ft25">&nbsp;</P>
	                </TD>
	                <TD class="tr2 td6">
	                    <P class="p46 ft25">&nbsp;</P>
	                </TD>
	                <TD class="tr3 td7">
	                    <P class="p46 ft26">&nbsp;</P>
	                </TD>
	                <TD class="tr3 td8">
	                    <P class="p46 ft26">&nbsp;</P>
	                </TD>
	                <TD class="tr3 td9">
	                    <P class="p46 ft26">&nbsp;</P>
	                </TD>
	                <TD class="tr3 td10">
	                    <P class="p46 ft26">&nbsp;</P>
	                </TD>
	                <TD class="tr3 td7">
	                    <P class="p46 ft26">&nbsp;</P>
	                </TD>
	                <TD class="tr3 td11">
	                    <P class="p46 ft26">&nbsp;</P>
	                </TD>
	                <TD class="tr3 td7">
	                    <P class="p46 ft26">&nbsp;</P>
	                </TD>
	            </TR>
	            <TR>
	                <TD class="tr0 td5">
	                    <P class="p46 ft24">&nbsp;</P>
	                </TD>
	                <TD class="tr0 td6">
	                    <P class="p46 ft24">&nbsp;</P>
	                </TD>
	                <TD class="tr0 td12">
	                    <P class="p50 ft19">Listening</P>
	                </TD>
	                <TD class="tr0 td13">
	                    <P class="p46 ft24">&nbsp;</P>
	                </TD>
	                <TD class="tr0 td14">
	                    <P class="p51 ft19">Reading</P>
	                </TD>
	                <TD class="tr0 td15">
	                    <P class="p46 ft24">&nbsp;</P>
	                </TD>
	                <TD class="tr0 td16">
	                    <P class="p52 ft19">Spoken interaction</P>
	                </TD>
	                <TD class="tr0 td16">
	                    <P class="p52 ft27">Spoken production</P>
	                </TD>
	                <TD class="tr0 td12">
	                    <P class="p46 ft24">&nbsp;</P>
	                </TD>
	            </TR>
	            <TR>
	                <TD class="tr2 td5">
	                    <P class="p46 ft25">&nbsp;</P>
	                </TD>
	                <TD class="tr2 td6">
	                    <P class="p46 ft25">&nbsp;</P>
	                </TD>
	                <TD class="tr3 td7">
	                    <P class="p46 ft26">&nbsp;</P>
	                </TD>
	                <TD class="tr3 td17">
	                    <P class="p46 ft26">&nbsp;</P>
	                </TD>
	                <TD class="tr3 td9">
	                    <P class="p46 ft26">&nbsp;</P>
	                </TD>
	                <TD class="tr3 td10">
	                    <P class="p46 ft26">&nbsp;</P>
	                </TD>
	                <TD class="tr3 td11">
	                    <P class="p46 ft26">&nbsp;</P>
	                </TD>
	                <TD class="tr3 td11">
	                    <P class="p46 ft26">&nbsp;</P>
	                </TD>
	                <TD class="tr3 td7">
	                    <P class="p46 ft26">&nbsp;</P>
	                </TD>
	            </TR>
	            <TR>
	                <TD colspan=2 class="tr0 td0">
	                    <P class="p53 ft9">English</P>
	                </TD>
	                <TD class="tr0 td12">
	                    <P class="p50 ft14">C1</P>
	                </TD>
	                <TD class="tr0 td18">
	                    <P class="p46 ft24">&nbsp;</P>
	                </TD>
	                <TD class="tr0 td14">
	                    <P class="p54 ft9">B2</P>
	                </TD>
	                <TD class="tr0 td19">
	                    <P class="p46 ft24">&nbsp;</P>
	                </TD>
	                <TD class="tr0 td12">
	                    <P class="p55 ft14">C1</P>
	                </TD>
	                <TD class="tr0 td12">
	                    <P class="p55 ft14">C1</P>
	                </TD>
	                <TD class="tr0 td12">
	                    <P class="p55 ft14">C1</P>
	                </TD>
	            </TR>
	            <TR>
	                <TD class="tr4 td5">
	                    <P class="p46 ft28">&nbsp;</P>
	                </TD>
	                <TD class="tr4 td6">
	                    <P class="p46 ft28">&nbsp;</P>
	                </TD>
	                <TD class="tr5 td7">
	                    <P class="p46 ft29">&nbsp;</P>
	                </TD>
	                <TD class="tr5 td8">
	                    <P class="p46 ft29">&nbsp;</P>
	                </TD>
	                <TD class="tr5 td9">
	                    <P class="p46 ft29">&nbsp;</P>
	                </TD>
	                <TD colspan=2 class="tr5 td20">
	                    <P class="p46 ft29">&nbsp;</P>
	                </TD>
	                <TD class="tr5 td7">
	                    <P class="p46 ft29">&nbsp;</P>
	                </TD>
	                <TD class="tr5 td7">
	                    <P class="p46 ft29">&nbsp;</P>
	                </TD>
	            </TR>
	            <TR>
	                <TD class="tr6 td5">
	                    <P class="p46 ft24">&nbsp;</P>
	                </TD>
	                <TD class="tr6 td6">
	                    <P class="p46 ft24">&nbsp;</P>
	                </TD>
	                <TD class="tr6 td21">
	                    <P class="p46 ft24">&nbsp;</P>
	                </TD>
	                <TD class="tr6 td22">
	                    <P class="p46 ft24">&nbsp;</P>
	                </TD>
	                <TD class="tr6 td23">
	                    <P class="p46 ft24">&nbsp;</P>
	                </TD>
	                <TD colspan=2 class="tr6 td24">
	                    <P class="p46 ft30">TOEFL: 587/677. (87%)
	                        <SPAN class="ft14">.</SPAN>
	                    </P>
	                </TD>
	                <TD class="tr6 td25">
	                    <P class="p46 ft24">&nbsp;</P>
	                </TD>
	                <TD class="tr6 td21">
	                    <P class="p46 ft24">&nbsp;</P>
	                </TD>
	            </TR>
	            <TR>
	                <TD class="tr2 td5">
	                    <P class="p46 ft25">&nbsp;</P>
	                </TD>
	                <TD class="tr2 td6">
	                    <P class="p46 ft25">&nbsp;</P>
	                </TD>
	                <TD class="tr3 td26">
	                    <P class="p46 ft26">&nbsp;</P>
	                </TD>
	                <TD class="tr3 td27">
	                    <P class="p46 ft26">&nbsp;</P>
	                </TD>
	                <TD class="tr3 td28">
	                    <P class="p46 ft26">&nbsp;</P>
	                </TD>
	                <TD class="tr3 td29">
	                    <P class="p46 ft26">&nbsp;</P>
	                </TD>
	                <TD class="tr3 td30">
	                    <P class="p46 ft26">&nbsp;</P>
	                </TD>
	                <TD class="tr3 td30">
	                    <P class="p46 ft26">&nbsp;</P>
	                </TD>
	                <TD class="tr3 td26">
	                    <P class="p46 ft26">&nbsp;</P>
	                </TD>
	            </TR>
	            <TR>
	                <TD colspan=2 class="tr0 td0">
	                    <P class="p53 ft9">Portuguese</P>
	                </TD>
	                <TD class="tr0 td12">
	                    <P class="p50 ft14">C1</P>
	                </TD>
	                <TD class="tr0 td18">
	                    <P class="p46 ft24">&nbsp;</P>
	                </TD>
	                <TD class="tr0 td14">
	                    <P class="p54 ft9">B2</P>
	                </TD>
	                <TD class="tr0 td19">
	                    <P class="p46 ft24">&nbsp;</P>
	                </TD>
	                <TD class="tr0 td12">
	                    <P class="p55 ft9">B2</P>
	                </TD>
	                <TD class="tr0 td12">
	                    <P class="p55 ft9">B2</P>
	                </TD>
	                <TD class="tr0 td12">
	                    <P class="p55 ft9">B1</P>
	                </TD>
	            </TR>
	            <TR>
	                <TD class="tr4 td5">
	                    <P class="p46 ft28">&nbsp;</P>
	                </TD>
	                <TD class="tr4 td6">
	                    <P class="p46 ft28">&nbsp;</P>
	                </TD>
	                <TD class="tr5 td7">
	                    <P class="p46 ft29">&nbsp;</P>
	                </TD>
	                <TD class="tr5 td8">
	                    <P class="p46 ft29">&nbsp;</P>
	                </TD>
	                <TD colspan=4 class="tr5 td31">
	                    <P class="p46 ft29">&nbsp;</P>
	                </TD>
	                <TD class="tr5 td7">
	                    <P class="p46 ft29">&nbsp;</P>
	                </TD>
	            </TR>
	            <TR>
	                <TD class="tr7 td5">
	                    <P class="p46 ft31">&nbsp;</P>
	                </TD>
	                <TD class="tr7 td6">
	                    <P class="p46 ft31">&nbsp;</P>
	                </TD>
	                <TD class="tr7 td21">
	                    <P class="p46 ft31">&nbsp;</P>
	                </TD>
	                <TD class="tr7 td22">
	                    <P class="p46 ft31">&nbsp;</P>
	                </TD>
	                <TD colspan=4 class="tr7 td32">
	                    <P class="p56 ft30">Fluid. 2 years Practice work in Brazil and USA.</P>
	                </TD>
	                <TD class="tr7 td21">
	                    <P class="p46 ft31">&nbsp;</P>
	                </TD>
	            </TR>
	            <TR>
	                <TD class="tr8 td5">
	                    <P class="p46 ft32">&nbsp;</P>
	                </TD>
	                <TD class="tr8 td6">
	                    <P class="p46 ft32">&nbsp;</P>
	                </TD>
	                <TD class="tr9 td26">
	                    <P class="p46 ft33">&nbsp;</P>
	                </TD>
	                <TD class="tr9 td27">
	                    <P class="p46 ft33">&nbsp;</P>
	                </TD>
	                <TD class="tr9 td28">
	                    <P class="p46 ft33">&nbsp;</P>
	                </TD>
	                <TD class="tr9 td29">
	                    <P class="p46 ft33">&nbsp;</P>
	                </TD>
	                <TD class="tr9 td30">
	                    <P class="p46 ft33">&nbsp;</P>
	                </TD>
	                <TD class="tr9 td30">
	                    <P class="p46 ft33">&nbsp;</P>
	                </TD>
	                <TD class="tr9 td26">
	                    <P class="p46 ft33">&nbsp;</P>
	                </TD>
	            </TR>
	            <TR>
	                <TD colspan=2 class="tr1 td0">
	                    <P class="p53 ft9">Japanese</P>
	                </TD>
	                <TD class="tr1 td12">
	                    <P class="p50 ft9">A1</P>
	                </TD>
	                <TD class="tr1 td18">
	                    <P class="p46 ft24">&nbsp;</P>
	                </TD>
	                <TD class="tr1 td14">
	                    <P class="p54 ft9">A2</P>
	                </TD>
	                <TD class="tr1 td19">
	                    <P class="p46 ft24">&nbsp;</P>
	                </TD>
	                <TD class="tr1 td12">
	                    <P class="p55 ft9">B1</P>
	                </TD>
	                <TD class="tr1 td12">
	                    <P class="p55 ft9">A2</P>
	                </TD>
	                <TD class="tr1 td12">
	                    <P class="p55 ft9">A2</P>
	                </TD>
	            </TR>
	            <TR>
	                <TD class="tr10 td5">
	                    <P class="p46 ft34">&nbsp;</P>
	                </TD>
	                <TD class="tr10 td6">
	                    <P class="p46 ft34">&nbsp;</P>
	                </TD>
	                <TD class="tr4 td7">
	                    <P class="p46 ft28">&nbsp;</P>
	                </TD>
	                <TD class="tr4 td8">
	                    <P class="p46 ft28">&nbsp;</P>
	                </TD>
	                <TD colspan=4 class="tr4 td31">
	                    <P class="p46 ft28">&nbsp;</P>
	                </TD>
	                <TD class="tr4 td7">
	                    <P class="p46 ft28">&nbsp;</P>
	                </TD>
	            </TR>
	            <TR>
	                <TD class="tr6 td5">
	                    <P class="p46 ft24">&nbsp;</P>
	                </TD>
	                <TD class="tr6 td6">
	                    <P class="p46 ft24">&nbsp;</P>
	                </TD>
	                <TD class="tr6 td21">
	                    <P class="p46 ft24">&nbsp;</P>
	                </TD>
	                <TD class="tr6 td22">
	                    <P class="p46 ft24">&nbsp;</P>
	                </TD>
	                <TD colspan=4 class="tr6 td32">
	                    <P class="p57 ft35">
	                        <SPAN class="ft30">Level I. </SPAN>AHBEJA, JICA, Japan Embassy
	                        <SPAN class="ft30">.</SPAN>
	                    </P>
	                </TD>
	                <TD class="tr6 td21">
	                    <P class="p46 ft24">&nbsp;</P>
	                </TD>
	            </TR>
	            <TR>
	                <TD class="tr2 td5">
	                    <P class="p46 ft25">&nbsp;</P>
	                </TD>
	                <TD class="tr2 td6">
	                    <P class="p46 ft25">&nbsp;</P>
	                </TD>
	                <TD class="tr3 td26">
	                    <P class="p46 ft26">&nbsp;</P>
	                </TD>
	                <TD class="tr3 td27">
	                    <P class="p46 ft26">&nbsp;</P>
	                </TD>
	                <TD class="tr3 td28">
	                    <P class="p46 ft26">&nbsp;</P>
	                </TD>
	                <TD class="tr3 td29">
	                    <P class="p46 ft26">&nbsp;</P>
	                </TD>
	                <TD class="tr3 td30">
	                    <P class="p46 ft26">&nbsp;</P>
	                </TD>
	                <TD class="tr3 td30">
	                    <P class="p46 ft26">&nbsp;</P>
	                </TD>
	                <TD class="tr3 td26">
	                    <P class="p46 ft26">&nbsp;</P>
	                </TD>
	            </TR>
	            <TR>
	                <TD colspan=2 class="tr0 td0">
	                    <P class="p53 ft9">Italian</P>
	                </TD>
	                <TD class="tr0 td12">
	                    <P class="p50 ft9">B1</P>
	                </TD>
	                <TD class="tr0 td18">
	                    <P class="p46 ft24">&nbsp;</P>
	                </TD>
	                <TD class="tr0 td14">
	                    <P class="p54 ft9">B1</P>
	                </TD>
	                <TD class="tr0 td19">
	                    <P class="p46 ft24">&nbsp;</P>
	                </TD>
	                <TD class="tr0 td12">
	                    <P class="p55 ft9">A2</P>
	                </TD>
	                <TD class="tr0 td12">
	                    <P class="p55 ft9">A2</P>
	                </TD>
	                <TD class="tr0 td12">
	                    <P class="p55 ft9">B1</P>
	                </TD>
	            </TR>
	            <TR>
	                <TD class="tr10 td5">
	                    <P class="p46 ft34">&nbsp;</P>
	                </TD>
	                <TD class="tr10 td6">
	                    <P class="p46 ft34">&nbsp;</P>
	                </TD>
	                <TD class="tr4 td7">
	                    <P class="p46 ft28">&nbsp;</P>
	                </TD>
	                <TD colspan=5 class="tr4 td33">
	                    <P class="p46 ft28">&nbsp;</P>
	                </TD>
	                <TD class="tr4 td7">
	                    <P class="p46 ft28">&nbsp;</P>
	                </TD>
	            </TR>
	            <TR>
	                <TD class="tr7 td5">
	                    <P class="p46 ft31">&nbsp;</P>
	                </TD>
	                <TD class="tr7 td6">
	                    <P class="p46 ft31">&nbsp;</P>
	                </TD>
	                <TD class="tr7 td21">
	                    <P class="p46 ft31">&nbsp;</P>
	                </TD>
	                <TD colspan=5 class="tr7 td34">
	                    <P class="p46 ft35">
	                        <SPAN class="ft30">Italian IV. </SPAN>Universidad Tecnológica Centroamericana UNITEC.</P>
	                </TD>
	                <TD class="tr7 td21">
	                    <P class="p46 ft31">&nbsp;</P>
	                </TD>
	            </TR>
	            <TR>
	                <TD class="tr3 td5">
	                    <P class="p46 ft26">&nbsp;</P>
	                </TD>
	                <TD class="tr3 td6">
	                    <P class="p46 ft26">&nbsp;</P>
	                </TD>
	                <TD class="tr8 td26">
	                    <P class="p46 ft32">&nbsp;</P>
	                </TD>
	                <TD class="tr8 td27">
	                    <P class="p46 ft32">&nbsp;</P>
	                </TD>
	                <TD class="tr8 td28">
	                    <P class="p46 ft32">&nbsp;</P>
	                </TD>
	                <TD class="tr8 td29">
	                    <P class="p46 ft32">&nbsp;</P>
	                </TD>
	                <TD class="tr8 td30">
	                    <P class="p46 ft32">&nbsp;</P>
	                </TD>
	                <TD class="tr8 td30">
	                    <P class="p46 ft32">&nbsp;</P>
	                </TD>
	                <TD class="tr8 td26">
	                    <P class="p46 ft32">&nbsp;</P>
	                </TD>
	            </TR>
	            <TR>
	                <TD colspan=2 class="tr1 td0">
	                    <P class="p53 ft9">Mandarin</P>
	                </TD>
	                <TD class="tr1 td12">
	                    <P class="p50 ft9">A1</P>
	                </TD>
	                <TD class="tr1 td18">
	                    <P class="p46 ft24">&nbsp;</P>
	                </TD>
	                <TD class="tr1 td14">
	                    <P class="p54 ft9">A2</P>
	                </TD>
	                <TD class="tr1 td19">
	                    <P class="p46 ft24">&nbsp;</P>
	                </TD>
	                <TD class="tr1 td12">
	                    <P class="p55 ft9">A1</P>
	                </TD>
	                <TD class="tr1 td12">
	                    <P class="p55 ft9">A2</P>
	                </TD>
	                <TD class="tr1 td12">
	                    <P class="p55 ft9">A2</P>
	                </TD>
	            </TR>
	            <TR>
	                <TD class="tr10 td5">
	                    <P class="p46 ft34">&nbsp;</P>
	                </TD>
	                <TD class="tr10 td6">
	                    <P class="p46 ft34">&nbsp;</P>
	                </TD>
	                <TD class="tr4 td7">
	                    <P class="p46 ft28">&nbsp;</P>
	                </TD>
	                <TD class="tr4 td8">
	                    <P class="p46 ft28">&nbsp;</P>
	                </TD>
	                <TD colspan=4 class="tr4 td31">
	                    <P class="p46 ft28">&nbsp;</P>
	                </TD>
	                <TD class="tr4 td7">
	                    <P class="p46 ft28">&nbsp;</P>
	                </TD>
	            </TR>
	            <TR>
	                <TD class="tr11 td5">
	                    <P class="p46 ft36">&nbsp;</P>
	                </TD>
	                <TD class="tr11 td6">
	                    <P class="p46 ft36">&nbsp;</P>
	                </TD>
	                <TD class="tr11 td21">
	                    <P class="p46 ft36">&nbsp;</P>
	                </TD>
	                <TD class="tr11 td22">
	                    <P class="p46 ft36">&nbsp;</P>
	                </TD>
	                <TD colspan=4 class="tr11 td32">
	                    <P class="p58 ft37">Mandarin Basic III course at NTHU</P>
	                </TD>
	                <TD class="tr11 td21">
	                    <P class="p46 ft36">&nbsp;</P>
	                </TD>
	            </TR>
	            <TR>
	                <TD class="tr8 td5">
	                    <P class="p46 ft32">&nbsp;</P>
	                </TD>
	                <TD class="tr9 td35">
	                    <P class="p46 ft33">&nbsp;</P>
	                </TD>
	                <TD class="tr9 td26">
	                    <P class="p46 ft33">&nbsp;</P>
	                </TD>
	                <TD class="tr9 td27">
	                    <P class="p46 ft33">&nbsp;</P>
	                </TD>
	                <TD class="tr9 td28">
	                    <P class="p46 ft33">&nbsp;</P>
	                </TD>
	                <TD class="tr9 td29">
	                    <P class="p46 ft33">&nbsp;</P>
	                </TD>
	                <TD class="tr9 td30">
	                    <P class="p46 ft33">&nbsp;</P>
	                </TD>
	                <TD class="tr9 td30">
	                    <P class="p46 ft33">&nbsp;</P>
	                </TD>
	                <TD class="tr9 td26">
	                    <P class="p46 ft33">&nbsp;</P>
	                </TD>
	            </TR>
	            <TR>
	                <TD colspan=2 class="tr12 td0">
	                    <P class="p53 ft0">Mother tongue(s)</P>
	                </TD>
	                <TD class="tr12 td12">
	                    <P class="p46 ft9">Spanish</P>
	                </TD>
	                <TD class="tr12 td18">
	                    <P class="p46 ft24">&nbsp;</P>
	                </TD>
	                <TD class="tr12 td14">
	                    <P class="p46 ft24">&nbsp;</P>
	                </TD>
	                <TD class="tr12 td19">
	                    <P class="p46 ft24">&nbsp;</P>
	                </TD>
	                <TD class="tr12 td12">
	                    <P class="p46 ft24">&nbsp;</P>
	                </TD>
	                <TD class="tr12 td12">
	                    <P class="p46 ft24">&nbsp;</P>
	                </TD>
	                <TD class="tr12 td12">
	                    <P class="p46 ft24">&nbsp;</P>
	                </TD>
	            </TR>
	        </TABLE>
	    </DIV>
	</DIV>
	<DIV id="page_3">

		<DIV id="p1dimg1x5">
			<IMG src="public/img/line.jpg" width="470px" alt="">
		</DIV>

	    <DIV>
	        <DIV id="id_1">
	            <P class="p60 ft0">ADDITIONAL INFORMATION</P>
	            <P class="p61 ft0">Conferences</P>
	            <P class="p62 ft0">References</P>
	        </DIV>
	        <DIV id="id_2">
	            <P class="p20xx ft8">TAAI 2016, Hsinchu City, Taiwan</P>
	            <P class="p28 ft9">
	                <SPAN class="ft14">▪</SPAN>
	                <SPAN class="ft11">Staff Member </SPAN>
	                <SPAN class="ft14">& </SPAN>Participant</P>
	            <P class="p63 ft8">SAPPHIRE 2013, Orlando FL, USA</P>
	            <P class="p28 ft9">
	                <SPAN class="ft9">▪</SPAN>
	                <SPAN class="ft11">Staff Member & Participant</SPAN>
	            </P>
	            <P class="p64 ft8">WebConf Latino 2010, UNITEC, Tegucigalpa Honduras</P>
	            <P class="p28 ft9">
	                <SPAN class="ft9">▪</SPAN>
	                <SPAN class="ft11">Staff Member & Participant</SPAN>
	            </P>


	            <a href="https://www.linkedin.com/in/yi-shin-chen-022b03a2/"><div class="pro-link">
	            <P class="p65 ft38">陳宜欣 (Chen,
	                <NOBR>Yi-Shin)</NOBR>
	            </P>
	            <P class="p66 ft9">Associate Professor,
	                <SPAN class="ft16">國立清華大學 </SPAN>National Tsing Hua University, Hsinchu, Taiwan (R.O.C.)</P>
	            </a></div>
	            <p>
	            	<span><A href="mailto:yishin@gmail.com"><SPAN class="ft39">yishin@gmail.com</SPAN></A></span>
	            </p>


	          	
	            <P class="p67 ft8">
	                <SPAN class="ft40">陳朝欽 </SPAN>(Chen,
	                <NOBR>Chaur-Chin)</NOBR>
	            </P>
	            <P class="p68 ft9">Associate Professor,
	                <SPAN class="ft16">國立清華大學 </SPAN>National Tsing Hua University, Hsinchu, Taiwan (R.O.C.)</P>
	            <P class="p69 ft14">
	                <NOBR>(+886) 0903-488-951</NOBR>
	                <span><A href="mailto:daniel.ccchen@gmail.com"><SPAN class="ft39">daniel.ccchen@gmail.com</SPAN></A></span>
	            </P>
	            

	            <a href="https://www.linkedin.com/in/pwankawala/"><div class="pro-link">
	            <P class="p19 ft8">Pranav Wankala</P>
	            <P class="p70 ft12">Director of Development, SAP Labs, Palo Alto CA, USA +1 650 2836553</P>
	            </a></div>
	            <P class="p20 ft42">
	                <A href="mailto:pwankawala@gmail.com"><SPAN class="ft41">pwankawala@gmail.com</SPAN></A>
	                <A href="mailto:pwankawala@gmail.com"><SPAN class="ft9">, </SPAN></A>
	                <A href="mailto:pranav.wankawala@sap.com"><SPAN class="ft41">pranav.wankawala@sap.com</SPAN></A>
	            </P>
	            

	            <a href="https://www.linkedin.com/in/carlos-roberto-arias-424b265/"><div class="pro-link">
	            <P class="p19 ft8">Carlos Roberto Arias Arévalo</P>
	            <P class="p71 ft12">Research Profesor UNITEC, Tegucigalpa Honduras (+504)
	                <NOBR>9985-3746</NOBR>
	            </P>
	            </a></div>
	            <P class="p20 ft41">
	                <A href="mailto:craias@unitec.edu">craias@unitec.edu</A>
	            </P>

	            <a href="https://www.linkedin.com/in/jagbolanos/"><div class="pro-link">
	            <P class="p19 ft8">Jorge Antonio Garcia Bolañoz</P>
	            <P class="p72 ft10">Partner & Lead Engeneer, ICOMS Technologies +1 415 2300002</P>
	            </a></div>
	            <P class="p39 ft41">
	                <A href="mailto:jorge@icoms.co">jorge@icoms.co</A>
	            </P>

	            <a href="https://www.linkedin.com/in/jose-arnoldo-sermeno-lima-928aa612/"><div class="pro-link">
	            <P class="p19 ft8">José Arnoldo Sermeño Lima</P>
	            <P class="p73 ft12">Director, Dirección de investigación UNITEC, Tegucigalpa, Honduras (+504)
	                <NOBR>2291-3900</NOBR>
	            </P>
	            </a></div>
	            <P class="p20 ft41">
	                <A href="mailto:jasl34@yahoo.com">jasl34@yahoo.com</A>
	            </P>
	        </DIV>
	    </DIV>
	</DIV>
</div>