<div class="modal-wrapper">
  <div 
    ng-repeat="project in portfolio track by $index" 
    class="portfolio-modal modal fade" 
    id="{{'portfolioModal-' + $index}}" 
    tabindex="-1" 
    role="dialog" 
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div event="close_modal_x" class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="modal-body">
                <h2>{{project.title | i18n}}</h2>
                <p class="item-intro text-muted">{{project.category | i18n}}</p>
                <a ng-if="!project.imgs" href="{{project.url}}" event="{{project.title + '_img'}}">
                  <img 
                    class="img-responsive img-centered" 
                    src="public/img/{{project.img}}" 
                    alt="" 
                    event="{{project.title + '_img'}}">
                </a>
                <a ng-repeat="image in project.imgs" href="{{project.url}}" event="{{project.title + '_img_' + $index}}">
                  <img class="img-responsive img-centered" src="public/img/{{image}}" alt="" event="{{project.title + '_img_' + $index}}">
                </a>

                <p>{{project.desc | i18n}}</p>
                <p ng-if="project.video">
                  <video controls width="100%" event="{{project.video}}">
                  <source src="{{'./public/img/'+project.video}}" type="video/mp4">
                      Your browser does not support HTML5 video.
                  </video>
                </p>
                <ul class="list-inline" ng-if="project.date">
                    <li>{{"Date: " | i18n}}{{project.date}}</li>
                </ul>
                <p ng-if="project.labels" class="label-wrapper" >
                  <a href="{{label.url}}" ng-repeat="label in project.labels" >
                    <img class="logo" src="public/img/{{label.img}}" event="{{label.url}}"></img>
                  </a>
                </p>
                <button type="button" class="btn btn-primary" data-dismiss="modal" event="close_item">
                  <i class="fa fa-times"></i>{{"Close Item" | i18n}}
                </button>

                <a ng-if="project.url" href="{{project.url}}" event="website_button">
                  <button  type="button" class="btn btn-primary">
                    <i class="glyphicon glyphicon-link"></i>{{"Website" | i18n}}
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
