<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button id="nav-collapse" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
      </button>
      <a event="home-name" class="navbar-brand page-scroll" href="#page-top">&lt;Carlos Sánchez&gt;</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" event="collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a event="nav-home" class="page-scroll" href="#about" ng-click="Analytics.report('navigation-home')">{{"Home"|i18n}}</a>
        </li>
        <li>
          <a event="nav-about" class="page-scroll" href="#about" ng-click="Analytics.report('navigation-about')">{{"About"|i18n}}</a>
        </li>
        <li>
          <a event="nav-portfolio" class="page-scroll" href="#portfolio" ng-click="Analytics.report('navigation-portfolio')">{{"Portfolio"|i18n}}</a>
        </li>
        <li>
          <a event="nav-planguages" class="page-scroll" href="#planguages" ng-click="Analytics.report('navigation-languages')">{{"Programming Languages"|i18n}}</a>
        </li>
        <li>
          <a event="nav-about" class="page-scroll" href="./public/html/CarlosSanchez-CV.pdf" ng-click="Analytics.report('navigation-resume')">{{"Resume"|i18n}}</a>
        </li>
        <li>
          <a event="nav-contact" class="page-scroll" href="#contact" ng-click="Analytics.report('navigation-contact')">{{"Contact"|i18n}}</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
