<section id="portfolio" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Portfolio - Carlos A. Sánchez</h2>
        <hr class="primary">
      </div>
    </div>
    <div class="row" ng-repeat="i in 0|range:(portfolio.length/columns) track by $index">
      <div class="col-md-4 col-sm-6 portfolio-item" ng-repeat="j in 0|range:columns track by $index">
        <div ng-if="portfolio[i*columns + j]">
          <a event="portfolio-{{i*columns + j}}-card" href="{{'#portfolioModal-' + (columns*i + j)}}" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="public/img/{{portfolio[i*columns + j].img}}" class="img-responsive" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>{{portfolio[i*columns + j].title}}</h4>
            <p class="text-muted">{{portfolio[i*columns + j].category}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
