<section id="planguages">
    <div class="box-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{"Programming Languages"|i18n}}</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">

            <div class="row">
                <h3>- Most Experienced with: </h3>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <div class="logo-js planguage-logo"></div>
                        <h3>JavaScript</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <div class="logo-html5 planguage-logo"></div>
                        <h3>HTML5</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <div class="logo-css3 planguage-logo"></div>
                        <h3>CSS3</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <div class="logo-node planguage-logo"></div>
                        <h3>NodeJS</h3>
                    </div>
                </div>
            </div>

            <br />
            <br />
            <br />
            <div class="row">
                <h3>- Others:</h3>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <div class="logo-cpp planguage-logo"></div>
                        <h3>C/C++</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <div class="logo-java planguage-logo"></div>
                        <h3>Java</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <div class="logo-python planguage-logo"></div>
                        <h3>Python</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <div class="logo-cs planguage-logo"></div>
                        <h3>C#</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <div class="logo-matlab planguage-logo"></div>
                        <h3>Matlab</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <div class="logo-r planguage-logo"></div>
                        <h3>R</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <div class="logo-visualbasic planguage-logo"></div>
                        <h3>Visual Basic</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <div class="logo-sql planguage-logo"></div>
                        <h3>SQL</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <div class="logo-php planguage-logo"></div>
                        <h3>PHP</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <div class="logo-linux planguage-logo"></div>
                        <h3>Linux Shell Script</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <div class="logo-cmd planguage-logo"></div>
                        <h3>Windows CMD Shell Script</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <div class="logo-android planguage-logo"></div>
                        <h3>Java for Android</h3>
                    </div>
                </div>
            </div>

            <br />
            <br />
            <br />
            <div class="row text-center">
                <a event="check_his_resume" href="./public/html/CarlosSanchez-CV.pdf" class="btn btn-primary btn-xl page-scroll">Get his Resume!</a>
            </div>
        </div>
    </div>
</section>
